<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title 'Form POC' %}</title>
    </head>
    <body>
        <form id="foo" action="{{ path('acme_poc_form') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
        <div id="message"></div>


        <script>
            AcmePoc = {};
            AcmePoc.globalConfig = {
                root: '{{ asset('bundles/acmepoc/js') }}'
            };
            AcmePoc.validationUrl = '{{ url('acme_poc_form_validate') }}';
        </script>
        <script type="text/javascript" src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmepoc/js/config.js') }}"></script>
        <script>
            YUI.applyConfig(AcmePoc.YuiConfig);
        </script>
        <script>
            YUI().use('node', 'poc-plugin-form-validation', function (Y) {
                var FormValidationPlugin = Y.namespace("Plugin.FormValidation").FormValidationPlugin;
                var fooNode = Y.Node.one('#foo');
                
                fooNode.plug(FormValidationPlugin);
                fooNode.validation.set('url', AcmePoc.validationUrl);
            });
        </script>
    </body>
</html>