<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title 'MyAwesomeWebsite' %}</title>
        <!-- CSS -->
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output="css/main_*.css"
               'bundles/acmepoc/css/style.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets %}

        <!-- Javascript -->
        {% block javascripts %}
            {#<script type="text/javascript" src="{{ asset('bundles/acmepoc/js/config.js') }}"></script>#}
        {% endblock javascripts %}
    </head>
    <body>
        <div class="body-container" id="app-container">
            {% block header %}
                <header>
                    <h1><a href="{{ path('acme_poc_home') }}">My Awesome Website</a></h1>
                </header>
            {% endblock header %}

            <div id="app">
            {% block body_content %}
                <div id="content">
                    <aside id="sidebar" data-view="sidebar">
                        {% block sidebar %}
                            <h2>Sidebar Menu</h2>
                            <nav>
                                {{ knp_menu_render('main', {'separator': '|', 'currentAsLink': false}) }}
                            </nav>
                        {% endblock sidebar %}
                        <button>Test</button>
                    </aside>
                    <section id="main" data-view="main">
                        {% block main %}{% endblock main %}
                        <button>Test</button>
                    </section>
                </div>
            {% endblock body_content %}
            </div>

            {% block footer %}
                <footer>
                    &copy;{{ ('now')|date('Y') }} My Awesome Website
                </footer>
            {% endblock footer %}
        </div>

        <script>
            AcmePoc = {};
            AcmePoc.globalConfig = {
                root: '{{ asset('bundles/acmepoc/js') }}'
            };
        </script>
        <script type="text/javascript" src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmepoc/js/config.js') }}"></script>
        <script>
            YUI.applyConfig(AcmePoc.YuiConfig);
        </script>
        <script>
            YUI().use('poc-app', 'poc-io', function (Y) {
                Y.MainView = Y.Base.create('mainView', Y.View, [], {
                    events: {
                        'button': {click: 'handleButtonClick'}
                    },

                    handleButtonClick: function (e) {
                        alert('Main view!');
                    }
                }, {
                    ATTRS: {
                        container: {
                            valueFn: function() { return Y.Node.one('#main'); }
                        }
                    }
                });

                Y.SidebarView = Y.Base.create('sidebarView', Y.View, [], {
                    events: {
                        'button': {click: 'handleButtonClick'}
                    },

                    handleButtonClick: function (e) {
                        alert('Sidebar view!');
                    }
                }, {
                    ATTRS: {
                        container: {
                            valueFn: function() { return Y.Node.one('#sidebar'); }
                        }
                    }
                });


                Y.PageView = Y.Base.create('pageView', Y.View, [], {
                    initializer: function () {
                        this.mainView = new Y.MainView();
                        this.sidebarView = new Y.SidebarView();

                        this.mainView.get('container');
                        this.sidebarView.get('container');

                        // This will cause the sub-views' custom events to bubble up to here.
//                        this.mainView.addTarget(this);
//                        this.sidebarView.addTarget(this);
                    },

                    destructor: function () {
                        this.mainView.destroy();
                        this.sidebarView.destroy();

                        delete this.mainView;
                        delete this.sidebarView;
                    }
                }, {
                    ATTRS: {
                        container: {
                            valueFn: function() { return Y.Node.one('#content'); }
                        }
                    }
                });

                var app, routes;

                //TODO created by server
                routes = {
                    home: { path: '/' },
                    profile: { path: '/profile' },
                    photos: { path: '/photos' }
                };

                // create application
                app = new Y.POC.App({
                    transitions: true,
                    serverRouting: true,
                    container: '#app'
                });

                // views
                app.views = {
                    page: {type: Y.PageView},
                    main: {type: Y.MainView},
                    sidebar: {type: Y.SidebarView}
                };

                // Setup routes.
                Y.Array.each(app.namedRoutes, function (route, i) {
                    app.route(routes[route.name].path, Y.PocIo.loadContentFragments, route.callbacks);
                    app.get('routes')[i].name = route.name;
                });

                app
                    .showView('page', null, {render: false})
                    .render()
                ;
            });
        </script>
        {% block templates %}{% endblock templates %}
    </body>
</html>