<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title 'MyAwesomeWebsite' %}</title>
        <!-- CSS -->
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output="css/main_*.css"
               'bundles/acmepoc/css/style.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets %}

        <!-- Javascript -->
        {% block javascripts %}
            <script type="text/javascript" src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
            {% javascripts output='js/compiled/main_*.js'
            'bundles/acmepoc/js/app.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </head>
    <body>
        <div class="body-container">
            {% block header %}
                <header>
                    <h1><a href="{{ path('acme_poc_home') }}">My Awesome Website</a></h1>
                </header>
            {% endblock header %}

            {% block body_content %}
                <div id="content">
                    <aside id="sidebar">
                        {% block sidebar %}
                            <h2>Sidebar Menu</h2>
                            <nav>
                                {{ knp_menu_render('main', {'separator': '|', 'currentAsLink': false}) }}
                            </nav>
                        {% endblock sidebar %}
                    </aside>
                    <section id="main">
                        {% block main %}{% endblock main %}
                    </section>
                </div>
            {% endblock body_content %}

            {% block footer %}
                <footer>
                    &copy;{{ ('now')|date('Y') }} My Awesome Website
                </footer>
            {% endblock footer %}
        </div>
        <script>
            YUI.add('cit', function (Y) {
                Y.Cit = {};
                
                Y.Cit.loadContentFragments = function (req, res, next) {
                    var url = req.url;
                    
                    // If there's an outstanding request, abort it.
                    if (this._request) {
                        this._request.abort();
                    }

                    // Send a request.
                    this._request = Y.io(url, {
                        'arguments': {
                            route: {
                                req : req,
                                res : res,
                                next: next
                            },

                            url: url
                        },
                        context: this,
                        headers: {'Accept': 'x-application/content-fragmented'},
                        timeout: this.get('timeout'),
                        on: {
                            complete: function (id, ioResponse, details) {
                                var route   = details.route,
                                    req     = route.req,
                                    res     = route.res;

                                // Put the URL requested through `Y.io` on the route's `req` object.
                                req.ioURL = details.url;

                                // Put the parsed content and `Y.io` response object on the route's
                                // `res` object.
                                res.ioResponse = ioResponse;

                                route.next();
                            },
                            end     : function () {
                                this._request = null;
                            }
                        }
                    });
                    
                    Y.Cit.PhotosView = Y.Base.create('photosView', Y.View, [], {
                        render: function () {
                            Y.log('render');
                            var container = this.get('container');
                            var template = this.template;
                            var list = this.get('modelList');

                            var html = template({
                                items: list.toJSON()
                            });
                            
                            container.setHTML(html);

                            return this;
                        },

                        initializer: function () {
                            Y.log('initializer');
                            var list = this.get('modelList');
                            list.after(['add', 'remove', 'reset'], this.render, this);
                            list.after('*:change', this.render, this);
                        }
                    });
                }
            }, '0.0.1', {
               requires: ['io', 'event']
            });
            
            
            YUI({
                debug: true,
                combine: false,
                filter: "raw"
            }).use('app', 'handlebars', 'cit', function (Y) {
                var app = new Y.App({
                    transitions: true,
                    serverRouting: true,
                    container: '#main',
                    viewContainer: '#main'
                });
                
                var firstTime = true;
                var photosModel = new Y.ModelList();
                var initPhotoPage = function(data) {
                    var photosHTML = Y.Node.all('.photo-container li');
                        
                    photosHTML.each(function(photoHTML) {
                        photosModel.add({
                            id: photoHTML.getAttribute('data-id'),
                            index: photoHTML.getAttribute('data-id'),
                            url: photoHTML.one('img').getAttribute('src')
                        });
                    });

                    photosView = new Y.Cit.PhotosView({
                        container: Y.Node.one('.photo-container'),
                        modelList: photosModel,
                        template: Y.Handlebars.compile(data['templates']['photo_item_tpl']),
                    });

                    Y.Node.one('#add-photo').on('click', function() {
                        var id = Math.floor((Math.random() * 100) + 1);
                        photosModel.add({ 
                            id: id,
                            index: id,
                            url: 'http://farm1.cosplay-it.com/photos/0/2025_4c42ffd890260_l.jpg'
                        });
                    });

                    Y.Node.one('.photo-container').delegate('click', function(e) {
                        var photoId = this.getAttribute('data-id');
                        photosModel.remove(photosModel.getById(photoId));
                    }, 'li');
                };
                
                app.route('/*', Y.Cit.loadContentFragments, function(req, res) {
                    var data = Y.JSON.parse(res.ioResponse.responseText);
                    
                    if(firstTime) {
                        if(req.path.indexOf("photos") !=-1) {
                            initPhotoPage(data);
                        }
                        firstTime = false;
                        return;
                    }
                    
                    Y.Node.one('#main').setHTML(data['main']).setStyle('background', 'yellow');
                    Y.Node.one('#sidebar').setHTML(data['sidebar']).setStyle('background', 'yellow');
                    Y.config.doc.title = data['title'];
                    
                    if(req.path.indexOf("photos") !=-1) {
                        initPhotoPage(data);
                    }
                });
                
                app.render().dispatch();
            });
        </script>
        {% block templates %}{% endblock templates %}
    </body>
</html>